.qubbaContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 60px;
  gap: 15px;
}

.qubba {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4F4F4;
  border-radius: 50%;
  width: 100%;
  height: 290px;
}

.qubbaNumber {
  font-size: 72px;
  line-height: 86px;
  font-family: "Mak-700";
}

.qubbaText {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  max-width: 200px;
  width: 100%;
}

.staffContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 120px;
}

.staff {
  position: relative;
  height: 288px;
  width: 100%;
}

.staff::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  z-index: 3;
}

.staffInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.staffInfoContent {
  background-color: rgba(23, 23, 23, 0.5);
  backdrop-filter: blur(3px);
  padding: 30px 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.staffName {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.staffProfession {
  font-size: 12px;
  line-height: 14px;
}

.article {
  border: 1px solid #E5E5E5;
}

.articlesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 120px;
}

.articleContentTop {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--main-black);
}

.articleImage {
  position: relative;
  width: 100%;
  height: 290px;
}

.articleContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  padding: 30px;
}

.articleText {
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter-700";
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleAllButton {
  margin-top: 30px;
}

.viewDiv {
  display: flex;
  align-items: center;
  gap: 5px;
}

.clock {
  width: 18px;
  height: 18px;
}

.viewTime {
  font-size: 12px;
  line-height: 18px;
  font-family: "Inter";
  text-transform: lowercase;
}

.savol {
  font-size: 32px;
  line-height: 45px;
  font-weight: 600;
}

.javob {
  font-size: 16px;
  line-height: 24px;
  margin-top: 15px;
}

.carouselContainer {
  margin-top: 120px;
  cursor: grab;
  overflow: hidden;
}

.innerCarousel {
  display: flex;
  align-items: center;
  gap: 15px;
}

.item {
  min-width: 290px;
  height: 400px;
  border: 1px solid #E5E5E5;
  position: relative;
  display: flex;
  flex-direction: column;
}
.item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  z-index: 3;
}

#chevron {
  transition: 0.4s;
}

.yigitDiv {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.quoteDiv {
  padding: 30px;
  flex: 1 1 auto;
}

.quote {
  font-size: 16px;
  line-height: 24px;
}

.personImage {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.personInfoContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 30px;
  background-color: #f4f4f4;
  text-align: left;
}

.personName {
  max-width: 165px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  font-family: "Inter-500";
}

.zakovatContainer {
  margin-top: 120px;
}

.zakovatSavolDiv {
  padding: 30px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.savolDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .qubbaContainer {
    grid-template-columns: 1fr;
  }
  .staffContainer {
    grid-template-columns: 1fr;
  }
  .staff {
    height: 370px;
  }
  .articlesContainer {
    grid-template-columns: 1fr;
  }
  .articleImage {
    height: 285px;
  }
  .savolDiv {
    align-items: flex-start;
  }
  .savol {
    font-size: 20px;
    line-height: 24px;
  }
}